<div class="input-group">
  <label for={{name}} class="input-group__label">{{label}}</label>
  <input id="{{name}}" class="input-group__input" name={{name}} type={{type}} value={{value}} {{attrs}}>
</div>